@model Burgerking.ViewModels.DessertsViewModel
@{
    Layout = "_BurgerkingLayout";
    ViewData["Title"] = "Index";
}

<div class="row">
    @foreach (var d in Model.Desserts)
    {
        <div class="card m-4" style="width: 18rem;">
            <img class="card-img-top" src="~/images/@($"{d.Naam.Replace(" ","").Replace("-","").ToLower()}.png")">
            <div class="card-body">
                <h5 class="card-title">@d.Naam</h5>
                <p class="card-text">Voor slechts @d.Prijs euro!</p>
                <p class="card-text text-danger">@d.Soja(d.BevatSoja)</p>
                <p class="card-text"><a asp-controller="Consumptie" asp-action="DessertDetails" asp-route-id="@d.Id">Details</a></p>
            </div>            
        </div>
    }
</div>