@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="text-center">
    <h1>De vrijheid om te groeien</h1>
    <p>Bij de start van een carrière bij Burger King zijn diploma's en voorgaande ervaring mooi meegenomen, maar geen must. We concentreren ons liever op motivatie en attitude, samen met het potentieel dat in elke medewerker schuilt. Door voortdurend in te zetten op de ontwikkeling van competenties en permanente opleidingen te voorzien, willen we de medewerkers verrijkende loopbanen aanbieden en hen helpen om hun doelen te bereiken. Zo geven we de medewerkers elke dag opnieuw de kans om bij te leren, door te groeien en hun dromen te bereiken.</p>
    <h1>De vrijheid om jezelf te zijn</h1>
    <p>Burger King maakt er een punt van een werkomgeving te creëren die rijk is aan diversiteit, waar iedereen welkom is. We respecteren, waarderen en koesteren de eigenschappen en perspectieven die elke medewerker uniek maken. We streven ernaar dat alle medewerkers zich dermate goed voelen in het team dat zij ten volle zichzelf kunnen zijn. We zijn er namelijk van overtuigd dat dit enkel in de positieve zin kan bijdragen tot de groei van de medewerker in kwestie, van het restaurant en de maatschappij waarin hij/zij gevestigd is.</p>
    <p>Momenteel zijn er 3 vacatures</p>
    <button type="button" class="btn btn-dark">Soliciteer nu!</button>
</div>