@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>Onze klanten het beste aanbieden</h1>
    <p>Sinds de opening van zijn eerste restaurant in 191 koestert Burger King zijn eigenheid op basis van zijn Europese oorsprong, zijn innovatievermogen en zijn ambitie om steeds producten en service van een onberispelijke kwaliteit aan te bieden. Daarom voerde de keten procedures in die op alle punten voldoen aan de eisen van de nationale en Europese regelgeving. Vanaf de keuze van de grondstoffen tot aan de consumptie worden er tal van controles uitgevoerd.</p>
    <h1>Grondstoffen... Kwaliteit komt op de eerste plaats</h1>
    <p>Bij Burger King worden de grondstoffen uiteraard geselecteerd op basis van de kwaliteit maar ook omdat ze op verantwoorde wijze tot stand komen. Een belangrijke keuze die ons ertoe aanzet onze eisen verder aan te scherpen en nieuwe samenwerkingsverbanden aan te gaan. Het gebruik van ggo's is verboden en de toevoeging van levensmiddelenadditieven is strikt aan banden gelegd. Het vlees is 100% puur rundvlees, zonder orgaanvlees of additieven. Het is afkomstig van dieren uit de Europese Unie en dan voornamelijk van Belgische runderen. Hetzelfde geldt voor onze recepten op basis van kippenvlees, die worden bereid met borstfilets en bovendijen. De herkomst van onze ingrediënten is een zeer belangrijk keuzecriterium en nabijheid is in de meeste gevallen doorslaggevend. De salades en groenten voor onze recepten zijn afkomstig uit België, Frankrijk en het zuiden van Europa. Sinds 2011 heeft al onze witte vis het MSC-keurmerk, een label dat garant staat voor een verantwoorde visserij.</p>
</div>